.about{
    height: 1500px;
    width: 100%;
}

.about-container{
    margin-top: 101px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #f46d4b), url("/src/assets/images/backimage.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.about-container  .abouthead {
    text-align: center;
    color: white; /* Set text color to white */
    background: linear-gradient(rgba(28, 30, 50, .9), rgba(28, 30, 50, .9));
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9; /* Slight transparency */
    margin-bottom: 60px;
}
.about-container  .abouthead h1{
    font-weight: 900;
    margin: 0;
    color: #f0ebe6 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-family: "Oswald", sans-serif;
    font-size: calc(1.375rem + 1.5vw);
}

.about-container  .abouthead h1 {
    font-size: 5rem; /* Large font size for h1 */
    margin-bottom: 0.5rem;
    color: white; /* Set h1 color to white */
}

.about-container  .abouthead h2 {
    font-size: 1.5rem; /* Slightly smaller font size for h2 */
    color: white; /* Set h2 color to white */
}
.about-container .abouthead p{
    color: #8486A0 !important;
    font-size: 22px;
    padding-left: 6px;
}
.about-container .smallhead h2,p{
    display: flex;
}